/*body            { font-family: sans-serif; background: #eee; }*/
body            { font-family: sans-serif; background: #A2E8FF; text-align: center;}
a, h1, h2       { color: #000; }
h1, h2          { font-family: 'Verdana', sans-serif; margin: 0; }
h1              { border-bottom: 2px solid #6FDCFF; margin-bottom: 1em }
h3              { font-size: 1.2em; }

/*#header			{background:url(title.png) no-repeat top center; width: 25em; }*/*/
#header			{width: 35em;}
img #header		{width: 35em;}
.page           { margin: 2em auto; width: 35em; border: 15px solid #6FDCFF;
                  padding: 0.8em; background: white; }
.solutions        { list-style: none; margin: 0; padding: 0; }
.solutions li     { margin: 0.8em 1.2em; }
.solutions h3  { margin-bottom: 2em; }
.add-entry      { font-size: 1.2em; }
.add-entry dl   { font-weight: bold; }
.add-entry dt	{ margin-bottom: 1em; }
.add-entry dd	{ margin-left: -0.5em; margin-bottom: 1em; }
